body{
    background: black;
    display: grid;
    flex-direction: column;
    margin: 0;
}

header{
    height: 12vh;
    background-color: rgb(27, 2, 59);
    display: flex;
    margin-bottom: 3%;
    
}
#Main {
    display: grid;
    height: 80vh;
    width: 50vh;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(20,1fr);
    
}
main{
    justify-self: center;

    display: flex;
    flex-direction: column;
    padding: 4vh 4vh 0 4vh;
    border: 1vh double magenta;
    justify-content: center;
}
#playButton,#Exit{
    color: white;
    font-family: "Arial Black", "Arial" , sans-serif;
    background-color: blue;
    border: none;
    font-size: larger;
}
#LButton:hover,#RButton:hover,#RotateButton:hover,#DButton:hover,#playButton:hover,#Exit:hover{

    background-color: rgb(3, 3, 126);

}
#Exit{
    display: none;
}
h1{
    color: white;
    font-family: "Arial Black", "Arial" , sans-serif;
}
#control{
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    
}
#LButton,#RButton,#RotateButton,#DButton{
    width: 20%;
    color: white;
    font-family: "Arial Black", "Arial" , sans-serif;
    background-color: blue;
    border: none;
    font-size: xx-large;
    border-radius: 12%;
}

#Info{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'consolas' , 'sans-serif';
}

#LS,#WS{
    display: none;
    position: absolute;
    text-align: center;
    font-size: 6vh;
    width: 50vh;
   
}
#LS{
    background-color: rgba(107, 10, 10, 0.459);
}
#WS{
    background-color: rgba(41, 133, 5, 0.623);
}